%footer.footer
  %small
    The
    %a{:href => "http://www.railstutorial.org/"} Ruby on Rails Tutorial
    by
    %a{:href => "http://www.michealhartl.com/"} Micheal Hartl
  %nav
    %ul
      %li= link_to "About", "#"
      %li= link_to "Contact", "#"
      %li= link_to "News", "http://news.railstutorial.org/"